.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.coffee {
  height: 41px !important;
  width: 174px !important;
  box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;
}