:root {
  --text-color: #000;
  --bg-color: #fff;
  --accent-color: #0070f3;
  --accent-color-hover: #0058af;
  --button-text-color: #fff;
  --link-color: var(--accent-color);
  --input-border-color: #ccc;
  --input-text-color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --bg-color: #121212;
    --input-bg-color: #000;
    --input-border-color: #141414;
  }
  img[srcset*="github.png"] {
    filter: invert();
  }
}

@media print {
  :root {
    --text-color: #000;
    --bg-color: #fff;
    --accent-color: #000;
    --accent-color-hover: #000;
    --button-text-color: #fff;
    --input-border-color: #ccc;
    --input-bg-color: var(--bg-color);
  }
  a[target="_blank"]:after {
    content: ' (' attr(href) ')';
    font-size: small;
  }
  a[href*="github.com"],
  a[href*="buymeacoffee.com"] {
    display: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  display: inline-block;
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg-color);
  border-radius: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: var(--accent-color);
  border: none;
  color: var(--button-text-color);
  border-radius: 10px;
  height: 2em;
  font-weight: bold;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 48px;
}

button[type="submit"]:hover {
  background-color: var(--accent-color-hover);
}
